/target/
/.idea/
/.settings/
*.iml
*.log
*.tmp
*.bak
*.swp
*.out
*.class
*.jar   
.classpath
.project
*.vscode/
.DS_Store
*.env
*.env.*
*.db
*.sql
*.sqlite
*.log
*.pid
*.seed
*.backup
*.tar
*.zip       